
/*
 * Base structure
 */
p {
    font-size: 14px;
}

.p_modal {
    font-size: 14px;
    text-align: justify;
}

.p_small {
    font-size: 10px;
}

.margin {
    margin-bottom: 10px;
}

/*
 * Backgrounds
 */
.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #eeeeee;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/*
 * Navigation
 */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/* active button*/
.active {
    color: #1abc9c !important;
    font-weight: bold;
}

/*
 * Google Maps windows
 */
 .gm-style .gm-style-iw {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #474e5d;
}

#concept {
    height: 100%;
}
#credits {
    height: 100%;
}
#map {
    height: 100%;
}


/* image gallery */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive-50{
    padding: 2px 2px;
    float: left;
    width: 50%;
}
.responsive-100{
    padding: 2px 2px;
    float: left;
    width: 100%;
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
